.social-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .title{
        margin: 2rem;
        margin-bottom: 4rem;
        font-size: 3rem;
    }


    .content-list{
        display: inline-block;
        text-align:center;
        margin: 0rem;
        vertical-align: top;
        list-style-position: inside;

        .foot-note{
            text-align: center;
            padding-right: 32px;
        }
    }
}
