.about-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title{
        margin: 2rem;
        margin-bottom: 4rem;
        font-size: 3rem;
    }
    .content-row {
        display: flex;
        flex-direction: row;
        margin-top: 4rem;
    
        @media (max-width: 1197px) {
          flex-direction: column;
          margin-left: 3rem;
          margin-right: 3rem;
          margin-bottom: 3rem;
        }

        .content-col{
            width: 50%;
            margin-right: 10rem;
            margin-left: 10rem;
            
            @media (max-width: 1197px) {
                width: auto;
                margin-bottom: 3rem;
              }
        }
    }
}