.header {
  margin-top: 2rem;
  display: flex;
  align-items: center;

  overflow-y: hidden;
  .nav-container {
    @media (max-width: 1197px) {
    }
  }

  .right-side {
    margin-left: auto;
    margin-right: 1rem;
    display: flex;

    @media (max-width: 1197px) {
      margin-top: 7rem;
      background-color: white;
    }

    .brand-logo {
      @media (max-width: 1197px) {
        margin-top: 7rem;
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;
        justify-content: center;
      }

      .header-items {
        @media (max-width: 1197px) {
          font-size: 1.5rem;
          margin: 1rem;
        }
      }
    }

    .header-items {
      @media (max-width: 1197px) {
        margin: auto;
        font-size: 2.5rem;
        align-items: center;
      }
    }
  }
  .header-items {
    cursor: pointer;
    margin: 1rem;
    color: black;

    @media (max-width: 1197px) {
      margin: 0rem;
      padding: 0rem;
    }

    .logo {
      height: 1.5rem;
      width: 12rem;

      @media (min-width: 768px) {
        height: 3rem;
        width: 40rem;
      }
    }
  }

  .button-container {
    margin-right: 2rem;
    margin-left: 1rem;
    @media (max-width: 1197px) {
      margin: auto;
      align-items: center;
    }
  }

  .show {
    @media (max-width: 1197px) {
      width: 110%;
      height: 100vh;
      z-index: 2;
      background-color: white;
      overflow-x: visible;
      padding-right: 0rem;
      margin: 0rem;
    }
  }

  .navbar-toggler{
      z-index: 1;
      margin: 1rem;
  }
  .container-fluid{
      padding: 0rem;
  }
}

Link {
  text-decoration: none;
}
.expanded{
    background-color: white;
}