.seo-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   


    .title{
        margin: 2rem;
        margin-bottom: 4rem;
        font-size: 3rem;
    }


    .content-list{
        display: inline-block;
        text-align: center;
        margin: 0rem;
        vertical-align: top;

        .list-title{
            font-size: 2rem;
        }

        li{
            padding-right: 32px;
        }
    }
}