.footer{
    background-color: #0080ff;
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 3rem;
    
    @media (max-width: 1197px){
        flex-direction: column;
    }

    .left-side{
       margin: 10rem;
        font-size: 1.2rem;
        margin-left: 0rem;

        @media (max-width: 1197px){
            margin: 2rem;
        }
    }

    .right-side{
        margin-top: 7rem;
        margin-right: 5rem;
        margin-bottom: 7rem;

        @media (max-width: 1197px){
            margin: 2rem;
        }
        
        .footer-links{
            display: block;
            margin: 2rem;
            cursor: pointer;
            text-decoration: underline;
            font-size: 1rem;
        }

        .socials{
            margin: 1rem;
            display: flex;
            .social-logos{
                margin: 1rem;
                cursor: pointer;
            }
        }
    }
}