.portfolio-page {
  display: flex;
  justify-content: center;
  

  .title {
    font-size: 3rem;
    margin-bottom: 3.5rem;
  }

  .content-container {
    width: 100vw;
    display: block;
    text-align: center;
    margin-bottom: 3rem;
  }
}
